@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --base-color: #ffa500;
  --base-font: "Lato", sans-serif;
  --base-font-size: 1.2rem;
  --base-background: #0a0a0a;
}

body {
}
header {
  width: 100%;
  position: fixed;
  z-index: 9999;
}

section {
  height: 100vh;
}
.nav-bar {
  position: relative;
  height: 10vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(8, 7, 7, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 4vh;
  font-weight: bold;
  color: var(--base-color);
  margin-left: 2rem;
  float: left;
}
.nav-container {
  float: right;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item li {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 15px;
  font-family: var(--base-font);
  color: white;
  font-weight: 600;
}
.nav-item li:hover {
  color: var(--base-color);
}

.action-menu {
  position: relative;
  background-color: var(--base-background);
  font-size: var(--base-font-size);
  color: var(--base-color);
  height: 100%;
  width: 5vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  position: absolute;
  background-color: var(--base-color);
  height: 4px;
  width: 40px;
  border-radius: 2px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger::before {
  content: "";
  margin-top: -8px;
}
.hamburger::after {
  content: "";
  margin-top: 8px;
}

.hamburger-checkbox {
  display: none;
}
.hamburger-checkbox:checked ~ .action-menu .hamburger {
  background: rgba(255, 255, 255, 0);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.hamburger-checkbox:checked ~ .action-menu .hamburger::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content > * {
  margin: 1rem 0rem;
  color: white;
}
.hero-content span {
  font-size: 48px;
  line-height: 4rem;
}
.button-yellow {
  border: none;
  border-radius: 100px;
  background: orange
    linear-gradient(
      360deg,
      rgba(198, 141, 38, 1) 43%,
      rgba(255, 165, 0, 1) 100%
    );
  padding: 0.8rem 1.5rem;
}
.section-heading{
  position: relative;
  text-align: center;
  margin-bottom: 75px;
}
.section-watermark{
  position: absolute;
  right:0;
  margin: 0 auto;
  width: 100%;
  opacity: 0.10;
  font-size: 72px;
  font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
}
.section-name{
  position: relative;
  display: block;
  line-height: 40px;
  padding: 16px 0px;
  font-size: 30px;
  font-weight: 500;;
}
.about {
  position: relative;
  background-color: hsla(0, 0%, 50%, 0.233);
  padding: 70px 0%;
}
.about-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.about-image img {
  width: 100%;
  height: 100%;
}

.about-container {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}
.about-container div {
  position: relative;
  background-color: rgba(255, 255, 255);
  height: 400px;
  width: 400px;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 0px 0px #ffa500, 10px 10px 0px 0px #ffb732,
    15px 15px 0px 0px #ffc04c, 5px 5px 15px 5px rgb(14, 13, 12);
}
.about-container div:nth-of-type(even) {
  margin-top: 15rem;
}
.about-container div:nth-child(n + 2) {
  margin-left: -8.5rem;
}
.about-container div img {
  height: 100%;
  width: 100%;
}
.about-text * {
  position: relative;
  padding-bottom: 15px;
}
.about-text {
  padding: 2rem 4rem;
  position: relative;
}
.about-text h2 {
  font-size: 30px;
}
.about-text h2:before {
  position: absolute;
  height: 2px;
  width: 45px;
  background-color: #ff8a00;
  content: "";
  bottom: 0;
  left: 0;
}
.about-text p {
  font-size: 12px;
  color: #777777;
  line-height: 24px;
}

.specialty {
  background-color: white;
  color: white;

  /* padding: 3rem 10%; */
}
.sp-heading h1 {
  text-align: center;
  color: white;
}
.sp-heading {
  padding: 106px 0;
}
.sp-image {
  background-color: black;
  padding: 0 20rem;
  height: 50%;
}
.sp-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}
.card {
  height: 500px;
  width: 100%;
  cursor: pointer;
}
.card-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transition: all 300ms linear;
}
.card-content {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}
.card:hover .card-content {
  border-radius: 0 0 8px 8px;
  box-shadow: 0px -2px 16px 3px rgba(237, 149, 45, 0.75);
}
.card:hover .card-image img {
  transform: scale(1.5);
  rotate: -10deg;
}

.card-header {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.card-header:before {
  position: absolute;
  height: 2px;
  width: 45px;
  background-color: #ff8a00;
  content: "";
  bottom: 0;
}

.card-details {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #777777;
}

.project-container {
  padding: 1rem;
  /* height:100%;
  width:100%; */
  position: relative;
}
.project-heading h1 {
  text-align: end;
  padding: 2rem;
}
.project-item {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
  width: 100%;
}
.project {
  position: relative;
  height: 30rem;
  width: 22rem;
}

.project-content {
  position: absolute;
}
.project img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.project .project-text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-text:before {
  border-radius: 50px;
  position: absolute;
  height: 0%;
  width: 0%;
  top: 50%;
  left: 50%;
  margin: auto;
  content: "";
  transition: all 300ms ease;
   background-color: hsla(0, 0%, 4%, 0.726);
}
.project:hover .project-text:before {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0%;
  left: 0%;
}
.project:hover .icons,
.project:hover h1,
.project:hover h3 {
  opacity: 1;
}
.icons {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50%;
  opacity: 0;
  transition: opacity 300ms ease;
}
.icons i {
  padding: 0.6rem;
}
.project-text h1 {
  height: 50%;

}
.project-text h3, .project-text h1{
  opacity: 0;
  transition: opacity 300ms ease;
  color: white;
  text-transform: capitalize;
}
.contact-frame {
  padding: 8rem 0;
  position: relative;
}
.contact-container {
  position: absolute;
  width: 50%;
  height: 80%;
  background-color:black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
form {
  margin-top: 0.5rem;
}
.contact-form {
  width: 50%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px;
  display: grid;
  padding: 20px 10px;
  grid-template-columns: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-element {
  width: 100%;
  padding:10px;
}
.form-element input, .form-element textarea {
  background-color: white;
  line-height: 1.2rem;
  padding:1.2rem;
  border-radius: 10px;
  width:100%;
  height:100%;
  font-size: 1.2rem;
}
.button {
  color: orange;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 15px;
  width: 5rem;
  background-color: #695757;
}
.footer-content {
  margin: 0 auto;
  height: 5rem;
  background-color: #0e0d0d;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.footer-content p {
  background-color: orange;
  height: 5rem;
  text-align: center;
  padding: 2rem 0;
}

.footer-icons {
  text-align: end;
  padding: 10px 10rem;
  color: white;
}
.footer-icons i {
  padding: 0.6rem;
  font-size: 2rem;
  /* color:white; */
}
@media (max-width: 500px) {
  .action-menu {
    display: flex;
  }
  .nav-item {
    position: absolute;
    background-color: var(--base-background);
    width: 100%;
    margin-top: 10vh;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
  }
  .nav-item li {
    border-top: 1px solid var(--base-color);
    width: 100%;
    text-align: center;
    margin-right: 0px;
    height: 0;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-checkbox:checked ~ .nav-item {
    display: flex;
    background-color: var(--base-background);
  }
  .hamburger-checkbox:checked ~ .nav-item {
  }
  .container {
    display: grid;
    grid-template-rows: repeat(4, auto);
  }
}
